<section class="w-full md:p-28">
  <div class="w-full lg:w-[45%] mx-auto bg-gray-100">

    <div class="relative flex flex-col p-4 rounded-md text-black bg-white">
      <h1 class="font-semibold text-center md:text-left text-2xl md:text-3xl text-gray-600">Welcome to <span class="text-black">InstiWallet</span></h1>
      <p class="text-gray-600 mb-8">Edit your account.</p>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {data: {turbo: false}}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="flex flex-col gap-3 mt-4">
          <div class="flex flex-row gap-3"> 
            <div class="base-1/2">
              <%= f.label :first_name, 
              class: "block text-gray-600 cursor-text text-sm leading-[140%] font-normal mb-2" 
              %>
              <%= f.text_field :first_name,
                autofocus: true, 
                autocomplete: "email",
                class: "rounded border border-gray-200 text-sm w-full font-normal leading-[18px]
                  text-black tracking-[0px] appearance-none block h-11 m-0 p-[11px] 
                  focus:ring-2 ring-offset-2  ring-gray-900 outline-0"
              %>
            </div>
            <div class="base-1/2">
              <%= f.label :last_name, 
              class: "block text-gray-600 cursor-text text-sm leading-[140%] font-normal mb-2" 
              %>
              <%= f.text_field :last_name,
                autofocus: true, 
                autocomplete: "email",
                class: "rounded border border-gray-200 text-sm w-full font-normal leading-[18px]
                  text-black tracking-[0px] appearance-none block h-11 m-0 p-[11px] 
                  focus:ring-2 ring-offset-2  ring-gray-900 outline-0"
              %>
            </div>
          </div>
          <div class="block relative"> 
            <%= f.label :email, 
              class: "block text-gray-600 cursor-text text-sm leading-[140%] font-normal mb-2" 
            %>
            <%= f.email_field :email,
              autofocus: true, 
              autocomplete: "email",
              class: "rounded border border-gray-200 text-sm w-full font-normal leading-[18px]
                text-black tracking-[0px] appearance-none block h-11 m-0 p-[11px] 
                focus:ring-2 ring-offset-2  ring-gray-900 outline-0"
            %>
          </div>
          <div class="flex flex-row gap-3"> 
            <div class="base-1/2">
              <%= f.label :password, 
              class: "block text-gray-600 cursor-text text-sm leading-[140%] font-normal mb-2" 
              %>
              <%= f.password_field :password,
                autofocus: true, 
                class: "rounded border border-gray-200 text-sm w-full font-normal leading-[18px]
                  text-black tracking-[0px] appearance-none block h-11 m-0 p-[11px] 
                  focus:ring-2 ring-offset-2  ring-gray-900 outline-0"
              %>
            </div>
            <div class="base-1/2">
              <%= f.label :password_confirmation, 
              class: "block text-gray-600 cursor-text text-sm leading-[140%] font-normal mb-2" 
              %>
              <%= f.password_field :password_confirmation,
                autofocus: true, 
                autocomplete: "email",
                class: "rounded border border-gray-200 text-sm w-full font-normal leading-[18px]
                  text-black tracking-[0px] appearance-none block h-11 m-0 p-[11px] 
                  focus:ring-2 ring-offset-2  ring-gray-900 outline-0"
              %>
            </div>
          </div>
          <div class="block relative"> 
              <%= f.label :current_password, 
                class: "block text-gray-600 cursor-text text-sm leading-[140%] font-normal mb-2" 
              %>
              <%= f.password_field :current_password,
                autofocus: true, 
                autocomplete: "email",
                class: "rounded border border-gray-200 text-sm w-full font-normal leading-[18px]
                  text-black tracking-[0px] appearance-none block h-11 m-0 p-[11px] 
                  focus:ring-2 ring-offset-2  ring-gray-900 outline-0"
              %>
            </div>
          <%= f.submit "Update", class: 'text-left bg-[#7747ff] w-max m-auto px-6 py-2 rounded text-white text-sm font-normal' %>
        </div>
        
      <% end %>
    </div>
  </div>
</section>
